amd-cupy>=13.5.1
hip-python~=7.2.0
hip-python-as-cuda~=7.2.0
amd-libhipmm==4.0.0
amd-hipmm==4.0.0
amd-libraft==1.0.0
amd-pylibraft==1.0.0
amd-libhipvs==1.0.*
amd-hipvs==1.0.*
jupyter
optuna
plotly
numpy
matplotlib
adjustText
h5py
